body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

form {
    text-align: start;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.bg-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: start;
    max-height: 200vh;
    display: flex;
    justify-content: center;
}

.card-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: start;
    height: 100%;
}

button:hover {
    background-color: #45a049;
}

p {
    color: red;
}

.button {
    border: none;
    outline: none;
    background: orange;
    color: #fff;
    margin-right: 40px;
    cursor: pointer;
}

#experienceLevel {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

.logo {
    height: 60px;
    width: 150px;
}

.heading {
    text-align: center;
}